:root {
  --nav-height: 79px;
  --alert-height: 50px;
}

html,
body {
  height: 100%;
}

#navbar {
  height: var(--nav-height);
  position: relative;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logIframe {
  height: calc(100% - var(--nav-height) - var(--alert-height));
  border: none;
}

#logIframe.alert-closed {
  height: calc(100% - var(--nav-height));
}

#troubleshooting-alert {
  text-align: center;
}
