name: Node CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.1.4
        with:
          node-version: 15.x

      - name: Setup Environment Variables
        run: echo '${{ secrets.PROD_ENV }}' > .env

      - name: Setup Clasp Credentials
        run: echo '${{ secrets.CLASPRC_CREDENTIALS }}' > $HOME/.clasprc.json

      - name: Setup Clasp Project info
        run: echo '${{ secrets.CLASP_PROJECT_INFO }}' > .clasp.json

      - name: Install Dependencies
        run: npm ci

      - name: Lint Project
        run: npm run lint

      - name: Build Project
        run: npm run build

      - name: Dry Run
        run: npm run make
